.sendotp{
    background-color: rgb(45, 45, 45);
    color: white;
    border-radius: 10px;
    padding: 10px 30px 60px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
input{
    max-width: 200px;
    margin: 20px;
   border-radius: 7px;
   height: 25px;
   text-align: center;
}
button{
    max-width: 200px;
    margin:10px 20px;
}
.inputs{
    display: flex;
    padding: 20px 10px;
}
.digitInput{
    display: inline;
    max-width: 25px;
    margin : 4px;
    background-color: rgb(45, 45, 45);
    color: white;
}
h6{
    margin: 2px;
}
#editButton{
    display: inline-block;
    margin: 2px;
    padding: 0px;
}
p{
    margin: 0px 2px;
    display: inline;
}